<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1> Create New Character</h1>
    <form action="/pokemon" method="POST">
        Name: <input type="text" name="name" placeholder="new pokémon" required /> <br/>
        Type: <input type="text" name="type" placeholder="eg. " required /> <br/>
        Hp: <input type="text" name="abilities" placeholder="eg. " required /> <br/>
        Attack: <input type="text" name="attack" placeholder="eg. " required /> <br/>
        Defense: <input type="text" name="defense" placeholder="eg. " required /> <br/>
        Spattack: <input type="text" name="spattack" placeholder="eg. " required /> <br/>
        Spadefense: <input type="text" name="spadefense" placeholder="eg. " required /> <br/>
        Speed: <input type="text" name="speed" placeholder="eg. " required /> <br/>
        <input type="submit" value="CREATE"> <br/>
    

    </form>
</body>
</html>